<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
</head>
<body>
<h1>Blog Posts</h1>
<a href="/posts/new">Create New Post</a>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.title}"></td>
            <td th:text="${post.content}"></td>
            <td>
                <a th:href="@{/posts/edit/{id}(id=${post.id})}">Edit</a> |
                <a th:href="@{/posts/delete/{id}(id=${post.id})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
